#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  padding: 0.4rem;
  font-weight: 600;
  color: #333;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
}
h1{
  color: #333;
}
.container {
  margin: 0.5rem;
  padding: 1rem;
  margin: auto;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.3rem;
  border-radius: 0.3rem;
  padding: 0.6rem;
  margin: 0.5rem;
  box-shadow: 0 0 3px #212c63;
}
.anecdote{
  width: 60%;
  margin: auto;
}
.votes {
  color: #333;
  font-weight: 700;
  border-radius: 1rem;
  padding: 0.5rem 0.8rem;
  margin: 0 auto;
  max-width: 20%;
  background: rgb(113, 148, 255);
}
.not-grid{
  display: block;
}
.alert-warning{
  background: wheat;
  color: #333;
  font-size: large;
  font-weight: 600;
}